// ----- FONTS USED IN THIS SECTION
h1.stats {
    font-family: $sans;
    font-weight: $regular;
    font-size: 3rem;
    margin: 0 0 20px;
    position: relative;

    @media #{$smartphone} {
        font-size: 4rem;
        margin: 0 0 40px;
    }

    @media #{$tablet} {
        font-size: 4.3rem;
    }

    @media #{$small-desktop} {
        font-size: 4rem;
    }

    &::before {
        content: '';
        width: 60px;
        height: 3px;
        background-color: $black;
        position: absolute;
        bottom: -5px;
        left: 0;

        @media #{$smartphone} {
            bottom: -10px;
            height: 5px;
            width: 90px;
        }
    }

    &::after {
        content: '';
        width: 20px;
        height: 3px;
        background-color: $green;
        position: absolute;
        bottom: -5px;
        left: 62px;

        @media #{$smartphone} {
            bottom: -10px;
            width: 30px;
            height: 5px;
            left: 94px;
        }
    }
}

h2.stats,
span.stat_content {
    font-family: $sans;
    font-weight: $bold;
    font-size: 2.1rem;

    @media #{$smartphone} {
        font-size: 2.7rem;
    }

    @media #{$tablet} {
        font-size: 3rem;
    }

    @media #{$small-desktop} {
        font-size: 2.7rem;
    }
}

h3.stats {
    font-family: $montserrat;
    font-weight: $regular;
    color: $grey;
    font-size: 1.1rem;

    @media #{$smartphone} {
        font-size: 1.5rem;
    }

    @media #{$tablet} {
        font-size: 1.7rem;
    }

    @media #{$small-desktop} {
        font-size: 1.6rem;
    }
}

// RIGHT STYLES
section.stats {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media #{$smartphone} {
        height: 75vh;
    }

    @media #{$small-desktop} {
        height: 90vh;
    }

    // wrapper for stats
    .stats_wrapper {
        width: 85%;

        @media #{$small-desktop} {
            display: flex;
        }

        // inner wrapper
        .stats_contentWrapper {

            @media #{$small-desktop} {
                width: 50%;
                order: 2;
            }

            // content
            .stats_content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;

                @media #{$tablet} {
                    width: 85%;
                }

                @media #{$small-desktop} {
                    width: 100%;
                    grid-gap: 15px 0;
                }

                @media #{$desktop} {
                    width: 90%;
                }

                // one stat
                .stat {

                    // dot above active players
                    &#activePlayers span.stat_content {
                        position: relative;

                        &::after {
                            content: '';
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                            background-color: $green;
                            position: absolute;
                            top: 5px;
                            right: -15px;

                            @media #{$tablet} {
                                width: 12px;
                                height: 12px;
                                top: 10px;
                            }
                        }
                    }

                }
            }
        }

        // wrapper for images
        .stats_imageWrapper {
            width: 100%;
            height: 30vh;
            margin-top: 30px;

            @media #{$smartphone} {
                margin-top: 50px;
            }

            @media #{$small-desktop} {
                width: 50%;
                order: 1;
                margin-top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            // imgages
            img {
                height: 100%;

                @media #{$small-desktop} {
                    height: 125%;
                }

                @media #{$desktop} {
                    height: 133%;
                }

                &:nth-of-type(1) {
                    transform: translateX(42%);

                    @media #{$small-desktop} {
                        transform: translateX(10%);
                    }
                }

                &:nth-of-type(2) {
                    transform: translateX(1%);

                    @media #{$small-desktop} {
                        transform: translateX(-17%);
                    }
                }

            }
        }
    }

    // decoration for stats (right side)
    img.stats_decoration {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 27%;

        @media #{$small-desktop} {
            top: 4%;
            max-width: none;
        }
    }
}